/* сброс стилей браузера */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* конец кода сброса стилей браузера */

*{
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
    line-height: 2em; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

img{
	max-width: 100%;
	height: auto;
}
ul, ol{
	list-style: none;
	padding-left: 0px;
}
a{
	text-decoration: none;
	color: var(--color-white);
	text-transform: uppercase;
}
p{
	font: 300 16px/2em 'Oswald', sans-serif;
}
a:link{}
a:visited{}
a:hover{}
a:active{}

.container{
	max-width: 1172px;
	padding: 0px 15px;
	margin: 0 auto;
	/*border: 2px solid green;*/
	/*background-color: yellowgreen;*/
	/*display: flex;
	flex-flow: row wrap;*/
}
:root{
	--color-primary: #ffe600;
	--color-dark: #131a1d;
	--color-black: #131316;
	--color-dark-blue: #122a2f;
	--color-white: #ffffff;
	--color-title: #515151;
	--color-text: #707070;
}
.background-dark{
	background-color: var(--color-dark);
}
.background-black{
	background-color: var(--color-black);
}
.background-dark-blue{
	background-color: var(--color-dark-blue);
}
.color-text-white{
	color: var(--color-white);
}
.color-text-black{
	color: var(--color-black);
}
.color-text-grey{
	color: var(--color-text);
}
.color-primary{
	color: var(--color-primary);
}
.large-title{
	font: 700 30px 'Oswald', sans-serif;
	padding-bottom: 30px;
}
.average-title{
	font: 400 16px 'Oswald', sans-serif;
	color: var(--color-title);
}
.line::after{
	content: '';
    height: 2px;
    width: 173px;
    background-color: var(--color-primary);
    display: block;
    margin: 20px auto 0;
}