.section{
	position: relative;
}					
.section-background{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.section-overlay{
	position: absolute;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.section-foreground{
	position: relative;
}


.section-inverse{ /*для текста на темном фоне*/
	color: var(--color-white);
}
.heading{
	text-align: center;
	padding: 50px 0px;
}
.list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.center-content{
	width: ;
	min-height: ;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}